/*
	Variables
*/
$font: 'corbert', Arial, sans-serif;
$color_font: #000000;
$color_background: #ffffff;
$color_header: #000000;
$color_shadow: rgba(69, 154, 215, .5);
$font_size: 20px;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import "jquery-ui.min";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'corbert';
	src: url('../fonts/Corbert-Regular-webfont.eot');
	src: url('../fonts/Corbert-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Corbert-Regular-webfont.woff2') format('woff2'),
	url('../fonts/Corbert-Regular-webfont.woff') format('woff'),
	url('../fonts/Corbert-Regular-webfont.ttf') format('truetype'),
	url('../fonts/Corbert-Regular-webfont.svg#corbertregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: $font;
	font-size: 12px;
	color: $color_font;
	background: #000000;

	/*
			Loading
		*/
	@keyframes loading {
		0% {
			transform-origin: 100% 100%;
			transform: rotate(0deg);
		}
		100% {
			transform-origin: 100% 100%;
			transform: rotate(360deg);
		}
	}

	.loading {
		position: relative;
		display: block;
		z-index: 13;
		margin: 260px auto 0;
		width: 100px;
		height: 100px;
		border: 5px solid $color_header;
		border-radius: 50%;
		background-color: transparent;

		&:before {
			position: absolute;
			display: block;
			content: '';
			z-index: 12;
			top: 4px;
			left: 4px;
			width: 82px;
			height: 82px;
			border-radius: 50%;
			background-color: $color_header;
		}

		&:after {
			position: absolute;
			display: block;
			top: 0;
			content: '';
			z-index: 11;
			left: 0px;
			width: 45px;
			height: 45px;
			border-radius: 200px 0 0 0;
			background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(69, 154, 215, 1) 50%, rgba(69, 154, 215, 1) 100%);
			animation: loading 1s linear infinite;
		}
	}

	header {
		z-index: 200;
		top: 0;
		right: 0;
		width: 100%;
		height: 60px;
		display: none;
		position: fixed;
		background: $color_header;
		text-align: center;
		box-shadow: 0px 0px 40px 20px $color_shadow;

		.logo {
			height: 40px;
			width: 40px;
			margin: 10px 20px;
			position: absolute;
			left: 0px;
			top: 0px;
		}
	}

	.error {
		font-size: $font_size;
		width: 80%;
		margin: 0 auto;
	}

	.content {
		position: relative;
		margin-top: 110px;
		display: none;
		text-align: center;
		width: 100%;

		.content_headline {
			display: inline-block;
			color: $color_font;
			font-size: 30px;
			margin-bottom: 20px;

			&:after {
				content: ' ';
				display: block;
				border: 1px solid $color_font;
				width: 50px;
				margin: 12px auto 0;
			}
		}

		.links {
			display: block;
			margin-top: 20px;

			.link_item_wrapper {
				width: 120px;
				display: inline-block;
				.link_item {
					margin: 10px 10px;
					position: relative;
					width: 100px;
					height: 100px;
					border-radius: 5px;
					border: 5px solid $color_font;
					box-shadow: 0px 0px 5px 5px $color_shadow;

					.link_img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						max-width: 60px;
						max-height: 60px;
					}
				}
			}
		}

		.fridge_list {
			margin: 20px;

			.fridge_item {
				display: inline-block;
				position: relative;
				width: 40%;
				margin: 5px;
				height: 200px;
				border: 1px solid black;
				border-radius: 5px;
				overflow: hidden;

				.item_data {
					position: absolute;
					bottom: 20px;
					margin: 0 auto;
					left: 0;
					right: 0;

					.item_name, .item_size {
						font-size: $font_size;
					}
				}

				.item_percentage {
					position: absolute;
					bottom: 0;
					width: 100%;
					background: $color_shadow;
				}
			}
		}

		.shopping_list, .recipe_list {
			margin: 20px auto;
			width: 60%;
			tr {
				td {
					font-size: $font_size;
					padding: 5px 0 5px 5px;
					width: 50%;
					text-align: left;
					border-bottom: 2px dashed $color_font;

					&:first-child {
						border-right: 2px dashed $color_font;
					}
				}

				&.no_items {
					td {
						border-bottom: none;
						border-right: none;
						text-align: center;
					}
				}
			}
		}

		.recipe_list {
			margin: 20px auto;
			width: 80%;

			tr {
				td {
					font-size: 18px;
					vertical-align: middle;

					&:nth-child(2) {
						border-right: 2px dashed $color_font;
					}

					&.item_delete{
						text-align: center;

						img{
							max-height: 20px;
						}
					}
				}
			}
		}

		.addNew {

			#add_new_error {
				color: $color_shadow;
			}

			.select {
				border-radius: 0;
				background: #ffffff;
				border: 1px solid black;
				font-size: 20px;
				font-family: $font;
				margin-bottom: 10px;
			}

			.calendar_headline, #add_new_error {
				font-size: 20px;
				margin-top: 15px;
				margin-bottom: 10px;
			}

			#calendar {
				border: 1px solid black;
				border-radius: 5px;
				padding: 10px;
				display: inline-block;
				font-size: 18px;

				.ui-datepicker {
					td {
						line-height: 30px;
					}
				}

				.ui-datepicker-title {
					span {
						font-size: 20px;
					}
				}

				.ui-datepicker-unselectable {
					.ui-state-default {
						color: #999999;
					}
				}

				.ui-state-default {
					color: $color_font;
				}

				.ui-state-active {
					background: $color_shadow;
				}

				.ui-datepicker-prev.ui-state-disabled {
					display: none;
				}

				.ui-icon-circle-triangle-w {
					background-image: url("../img/left.png");
				}
				.ui-icon-circle-triangle-e {
					background-image: url("../img/right.png");
				}

				.ui-icon-circle-triangle-e, .ui-icon-circle-triangle-w {
					height: 20px;
					width: 20px;
				}
			}

			.plus {
				margin-top: 15px;
			}
		}

		.settings {

			#settings_notification{
				color: $color_shadow;
				font-size: 20px;
				margin-top: 15px;
				margin-bottom: 10px;
			}

			.settings_description {
				display: block;
				width: 80%;
				margin: 20px auto;
				font-size: $font_size;
			}

			#number_input {
				display: inline-block;
				vertical-align: middle;
				font: $font;
				font-size: $font_size;
				width: 60px;
				border: 2px solid $color_font;
				border-radius: 5px;
				margin-right: 20px;
				padding: 5px;
				height: 36px;
				text-align: center;
			}

			#settings_save {
				display: inline-block;
				vertical-align: middle;
				height: 80px;
				width: 80px;
				border: 2px solid $color_font;
				border-radius: 100px;
				position: relative;
				margin: 20px auto;

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-width: 40px;
					max-height: 40px;
				}
			}
		}

	}
}
